<div [ngSwitch]="myErrorType">
  <span *ngSwitchCase="'username'" class="errors__text">
    <p *ngIf="form.get('username').touched && form.get('username')?.hasError('required')">{{ errors.username.required
      }}</p>
  </span>

  <span *ngSwitchCase="'title'" class="errors__text">
    <p *ngIf="form.get('title').touched && form.get('title')?.hasError('required')">{{ errors.title.required }}</p>
  </span>

  <span *ngSwitchCase="'email'" class="errors__text">
    <p *ngIf="(form.get('email').touched) && form.get('email')?.hasError('required')">{{ errors.email.required }}</p>
    <p *ngIf="(form.get('email').touched) && form.get('email')?.hasError('email')">{{ errors.email.emailValidation
      }}</p>
  </span>

  <span *ngSwitchCase="'password'" class="errors__text">
    <p *ngIf="(form.get('password').touched) && form.get('password')?.hasError('required')">{{ errors.password.required
      }}</p>
    <p *ngIf="(form.get('password').touched) && form.get('password')?.hasError('pattern')">{{ errors.password.pattern
      }}</p>
    <p *ngIf="(form.get('password').touched) && form.get('password')?.hasError('minlength')">{{
      errors.password.minlength }}</p>
  </span>

  <span *ngSwitchCase="'password_confirm'" class="errors__text">
    <p *ngIf="form.get('password_confirm').touched && form.get('password_confirm')?.hasError('required')">{{
      errors.password_confirm.required }}</p>
    <p *ngIf="form.get('password_confirm').touched && form.get('password_confirm')?.hasError('confirmPassword')">{{
      errors.password_confirm.confirmPassword }}</p>
  </span>

  <span *ngSwitchCase="'description'" class="errors__text">
    <p *ngIf="form.get('description').touched && form.get('description')?.hasError('maxLength')">{{
      errors.description.maxLength }}</p>
  </span>

  <span *ngSwitchCase="'price'" class="errors__text">
    <p *ngIf="form.get('price').touched && form.get('price')?.hasError('required')">{{ errors.price.required }}</p>
    <p *ngIf="form.get('price').touched && form.get('price')?.hasError('pattern')">{{ errors.price.pattern }}</p>
  </span>
  <span *ngSwitchDefault class="errors__text">
    <p>Some text</p>
  </span>
</div>
