<!--Header start---------------->
<div class="container-fluid wrap">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-12 wrap__item wrap__item-logo">
      <a routerLink="/home-page" class="logo">
        <img src="./../../../assets/img/sellit.png" alt="Sell it">
      </a>
    </div>
    <sellit-search class="col-md-4 col-sm-8 col-xs-12 wrap__item"></sellit-search>
    <sellit-user-panel class="col-md-6 col-sm-12 wrap__item wrap__item-user"></sellit-user-panel>
  </div>
</div>
<!--Header end------------------->
