@import './../../styles/_variable'
@import "../../../node_modules/bootstrap/scss/bootstrap"

.login
  background-color: $color
  padding: 0
  margin: 0

.login__image
  padding: 0
  overflow: hidden

.login__picture
  margin: 75px 20% 75px

.login__picture-image
  width: 100%
  max-width: 198px
  height: 69px
  object-fit: fill

.login__column
  padding: 0 25px 0

.login__form
  margin-top: 50px
  display: flex
  flex-direction: column
  justify-content: space-around

.login__tabs
  border-bottom: none
  display: flex
  justify-content: space-between

.login__tabs-button
  list-style-type: none
  width: 150px
  height: 35px
  background-color: #f2f2f2
  text-align: center
  line-height: 15px

.login__tabs-color
  color: black

.login__tabs-button > .active
  border-bottom: 5px solid $pricecolor !important

.login__form
  margin-top: 50px
  display: flex
  flex-direction: column
  justify-content: space-around

.login__form-input-wrap
  height: 95px
  padding: 10px

.login__form-input
  width: 100%
  margin: auto
  display: block
  border: none
  padding: 10px 0
  border-bottom: solid 3px #f2f2f2
  background: transparent
  &::-webkit-input-placeholder
    color: #f2f2f2
    font-family: Arial, Helvetica, sans-serif
    font-weight: regular
    font-size: 14px
  &:focus, &:valid
    box-shadow: none
    outline: none
    background-position: 0 0
    &::-webkit-input-placeholder
    color: #f2f2f2
    font-family: Arial, Helvetica, sans-serif
    font-weight: regular
    font-size: 14px
    text-indent: 20px
    transform: translateY(-20px)

.login__form-submit
  width: 100%
  height: 35px
  font-size: 14px
  background-color: #f2f2f2
  margin: 0
  &:hover
    height: 40px
    border-bottom: 5px solid $pricecolor

.login__tabs-content
  margin-bottom: 20px
  padding-bottom: 20px

.login__footer
  position: absolute
  bottom: 0
  margin: 40px 30% 0
  text-align: center
  font-weight: bold
  font-size: 14px
  color: #ffffff
