<div class="container-fluid login">
  <div class='row'>
    <div class="col-sm-8 hidden-xs-down login__image">
      <img src="./../../../assets/img/login-image.png" alt="image">
    </div>
    <div class="col-sm-4 col-xs-12 login__column">
      <div class="login__picture">
        <a routerLink="/home-page" class="logo">
          <img class="login__picture-image" src="./../../../assets/img/sell-it.png" alt="">
        </a>
      </div>
      <ul class="nav nav-tabs login__tabs">
        <li class="nav-item login__tabs-button">
          <a class="nav-link login__tabs-color" [ngClass]="{ active: !ifRegister }" (click)="showLogin()"
             data-toggle="tab">Sign In</a>
        </li>
        <li class="nav-item login__tabs-button">
          <a class="nav-link login__tabs-color" [ngClass]="{ active: ifRegister }" (click)="showRegister()"
             data-toggle="tab">Sign Up</a>
        </li>
      </ul>
      <!-- Tabs ------------------>
      <div class="tab-content login__tabs-content">
        <div class="tab-pane fade active show" *ngIf="!ifRegister" id="signin">
          <form action="" class="login__form"
                id="loginForm"
                name="loginForm"
                #loginForm="ngForm"
                [formGroup]="reactiveLoginForm"
                (submit)="submit($event, loginForm)">
            <div class="login__form-input-wrap">
            <input type="text" class="login__form-input"
                   name="email"
                   formControlName="email"
                   placeholder="E-mail">
            <sellit-errors [form]="reactiveLoginForm" [myErrorType]="'email'"></sellit-errors>
            </div>
            <div class="login__form-input-wrap">
            <input type="password" class="login__form-input"
                   name="password"
                   formControlName="password"
                   placeholder="Password">
            <sellit-errors [form]="reactiveLoginForm" [myErrorType]="'password'"></sellit-errors>
            </div>
            <button type="submit" class="login__form-submit" form="loginForm">Login</button>
          </form>
        </div>

        <div class="tab-pane fade active show" *ngIf="ifRegister" id="signup">
          <form action="" class="login__form"
                id="registrationForm"
                name="registrationForm"
                #registrationForm="ngForm"
                [formGroup]="reactiveRegistrationForm"
                (submit)="submit($event, registrationForm)">
            <div class="login__form-input-wrap">
            <input type="text" class="login__form-input"
                   name="email"
                   formControlName="email"
                   placeholder="E-mail">
            <sellit-errors [form]="reactiveRegistrationForm" [myErrorType]="'email'"></sellit-errors>
            </div>
            <div class="login__form-input-wrap">
            <input type="text" class="login__form-input"
                   name="username"
                   formControlName="username"
                   placeholder="Username">
            <sellit-errors [form]="reactiveRegistrationForm" [myErrorType]="'username'"></sellit-errors>
            </div>
            <div class="login__form-input-wrap">
            <input type="password" class="login__form-input"
                   name="password"
                   formControlName="password"
                   placeholder="Password">
            <sellit-errors [form]="reactiveRegistrationForm" [myErrorType]="'password'"></sellit-errors>
            </div>
            <div class="login__form-input-wrap">
            <input type="password" class="login__form-input"
                   name="password_confirm"
                   formControlName="password_confirm"
                   placeholder="Input password again">
            <sellit-errors [form]="reactiveRegistrationForm" [myErrorType]="'password_confirm'"></sellit-errors>
            </div>
            <button type="submit" class="login__form-submit" form="registrationForm">Register</button>
          </form>
        </div>
        <sellit-server-errors [serverError]="serverError"></sellit-server-errors>
      </div>
      <!-- Tabs end ------------------>
      <div class="login__footer">
        <p>Frontend Labs 2017</p>
      </div>
    </div>
  </div>
</div>
