@import './../../../styles/_variable'

.chat__header
  font-weight: bold

.chat__header-username
  font-weight: bold
  color: $color

.chat__header-title
  font-size: 30px

.chat__header-status
  color: $pricecolor
  margin: 0 5px

