@import './../../../styles/_variable'

.chat__input
  height: 100%
  display: flex
  flex-direction: column
  overflow-y: auto
  width: 100%
  margin: 0 5px 20px 5px

.chat__input-input
  border: none
  margin: 6px
  border-bottom: solid 1px $color
  text-indent: 0

.chat__input-icon
  position: relative
  top: 25px
  left: 93%
  cursor: pointer
  height: 15px
  width: 15px
