@import '../../../styles/variable'

\:host(.product-add)
  display: flex
  flex-direction: column
  min-height: 100vh

label
  font-size: 16px
  font-weight: bold
  position: relative

.product-add
  margin-top: 50px
  width: 100%
  display: flex
  justify-content: space-between

.product-add__image
  flex: 1 1 30%
  height: 300px
  box-shadow: 4px 4px 4px rgb(102, 102, 102)
  border: 1px solid black
  display: flex
  flex-direction: column

.product-add__image-text
  margin: auto
  height: 32px
  line-height: 32px
  font-size: 32px

.product-add__image-button
  margin-top: auto

.product-add__form
  height: 650px
  padding: 30px

.product-add__form-input
  height: 60px
  margin: 5px 0

.product-add__button
  width: 100px
  border-radius: 5%
  height: 50px
  margin: 10px auto 10px
  background-color: $color
  color: white
  cursor: pointer
  border: 2px solid $color
  font-weight: bold

.input_long
  margin-bottom: 10px
  width: 70%

.input_short
  width: 20%
  margin-left: 8px

.input_description
  resize: none
  display: block
  text-indent: 0
