<sellit-header></sellit-header>
<section class="container">
  <div class="row">
    <form class="offset-md-1 col-md-10 product-add"
          id="editProductForm"
          name="editProductForm"
          #editProductForm="ngForm"
          [formGroup]="reactiveProductEditForm"
          (submit)="submit($event, editProductForm )">

      <div class="product-add__image">
        <p class="product-add__image-text">Add Photo</p>
        <input type="file" name="Add Photo" class="product-add__image-button"
               multiple="multiple"
               (change)="getFiles($event)">
      </div>

      <div class='product-add__form'>

        <div class="form-group product-add__form-input">
          <label for="title">Title</label>
          <input type="text" class="input_long" id="title"
                 name="title"
                 formControlName="title">
          <sellit-errors [form]="reactiveProductEditForm" [myErrorType]="'title'"></sellit-errors>
        </div>

        <div class="form-group product-add__form-input">
          <label for="price">Price</label>
          <input type="text" class="input_short" id="price"
                 name="price"
                 formControlName="price">
          <sellit-errors [form]="reactiveProductEditForm" [myErrorType]="'price'"></sellit-errors>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea [froalaEditor]="editorSettings" type="text" class="input_description" id="description"
                    name="description"
                    formControlName="description"></textarea>
          <sellit-errors [form]="reactiveProductEditForm" [myErrorType]="'description'"></sellit-errors>
        </div>
        <button class="product-add__button" type="submit" form="editProductForm">Save Product</button>
      </div>
    </form>
  </div>
</section>
<sellit-footer></sellit-footer>
