<sellit-header></sellit-header>
<section class="product-add">
  <form class="product-add__form"
        id="addProductForm"
        name="addProductForm"
        #addProductForm="ngForm"
        [formGroup]="reactiveProductForm"
        (submit)="submit($event, addProductForm)">
    <div class="product-add__image">
      <div *ngIf="this.photoArray.length" class="row product-add__image-row">
        <div *ngFor="let img of this.photoArray" class="col-xs-12 col-sm-6 col-md-4">
          <img [ngStyle]="{width: '120px', height: '120px', margin: '2px'}" [src]="img">
        </div>
      </div>
      <p *ngIf="!this.photoArray.length" class="product-add__image-text">Add Photo</p>
      <input type="file" name="Add Photo" class="product-add__image-button"
             multiple="multiple"
             (change)="getFiles($event)">
    </div>
    <div class='product-add__form-right'>
      <div class="form-group product-add__form-block">
        <label for="title" class="product-add__label">Title</label>
        <input type="text" id="title" class="input_long"
               name="title"
               formControlName="title">
        <sellit-errors [form]="reactiveProductForm" [myErrorType]="'title'"></sellit-errors>
      </div>
      <div class="form-group product-add__form-block">
        <label for="price" class="product-add__label">Price</label>
        <input type="text" class="input_short" id="price"
               name="price"
               formControlName="price">
        <sellit-errors [form]="reactiveProductForm" [myErrorType]="'price'"></sellit-errors>
      </div>
      <div class="form-group">
        <label for="description" class="product-add__label">Description</label>
        <textarea [froalaEditor]="editorSettings" type="text" class="input_description" id="description"
                  name="description"
                  formControlName="description"></textarea>
        <sellit-errors [form]="reactiveProductForm" [myErrorType]="'description'"></sellit-errors>
      </div>
      <button class="product-add__button" type="submit" form="addProductForm">Add Product</button>
    </div>
  </form>
</section>
<sellit-footer></sellit-footer>
