@import '../../../styles/variable'

.product-add
  margin-top: 40px
  padding: 0

.product-add__form
  display: flex
  justify-content: space-around

.product-add__image
  flex-grow: 0
  margin: 10px 10px 10px 5%
  box-shadow: 4px 4px 4px rgb(102, 102, 102)
  border: 1px solid black

.product-add__image-row
  margin: 0
  padding: 5px

.product-add__form-block
  height: 60px
  margin: 5px

.product-add__image-text
  margin: 20px
  height: 32px
  line-height: 32px
  font-size: 32px
  text-align: center

.product-add__image-button
  margin: 5px

.product-add__form-right
  flex-grow: 0
  min-width: 250px
  margin-right: 5%

.product-add__label
  font-size: 16px
  font-weight: bold
  position: relative

.product-add__button
  width: 100px
  border-radius: 5%
  height: 50px
  margin: 10px auto 10px
  background-color: $color
  color: white
  cursor: pointer
  border: 2px solid $color
  font-weight: bold

.input_long
  margin-bottom: 10px
  width: 70%

.input_short
  width: 20%
  margin-left: 8px
  margin-bottom: 10px

.input_description
  resize: none
  display: block
  text-indent: 0
