<span class='chat-users__title'>Connected</span>
<ul>
  <li><p><img src="../../assets/img/avatar2.png" alt="" class='chat-users__icon'>Alise Kim</p></li>
  <li><p><img src="../../assets/img/avatar.png" alt="" class='chat-users__icon'>Kim Evans</p></li>
</ul>
