@import './../../styles/_variable'

.chat
  padding-left: 30px
  padding-bottom: 80px

.chat__section
  display: flex
  width: 100%

\:host(.chat__section-text)
  height: 240px
  width: 66.8%
  display: flex
  flex-direction: column
  color: red

\:host(.chat__section-users)
  margin: 0
  height: 240px
  width: 33.2%
  font-weight: bold
