<div class='chat'>
  <sellit-chat-header></sellit-chat-header>
  <div class='row chat__section col-md-8 col-xs-12'>
    <div class='chat__section-text col-sm-9 col-xs-12'>
      <sellit-chat-history></sellit-chat-history>
      <sellit-chat-input></sellit-chat-input>
    </div>
    <div class='chat__section-users col-sm-3 col-xs-12'>
      <sellit-chat-users></sellit-chat-users>
    </div>
  </div>
</div>
