@media only screen and (max-width : 768px)
    .wrap
        margin-left: 0

    .wrap__item
        height: 70px

    .wrap__item-logo
        text-align: center

    .wrap__item-image
        margin-top: 50px
        height: calc(100vw)

    .wrap__products
        margin-right: 0

    .search__input
        width: 70%

    .search__icon
        left: 15%

    .user
        min-width: 100%

    .user__dropdown
        min-width: calc(100% + 4px)

    .product__details
        margin: 20px 0

    .login__footer
        position: relative



@media only screen and (max-width : 575px)
    .logo
        margin: 0 auto

