html, body, div, h1, h2, h3, p, pre,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, nav, section
  margin: 0
  padding: 0
  border: 0
  outline: 0
  background: transparent
