@import "reset"
@import "../../node_modules/bootstrap/scss/bootstrap"
@import "variable"
@import "../../node_modules/sweetalert2/dist/sweetalert2.css"

.wrap
  margin-left: 5%
  max-width: 1440px
  align-content: center

.wrap__products
  margin-right: 50px
  margin-bottom: 80px

.logo
  position: relative
  width: 120px
  height: 55px
  top: 10px
  margin: 0 auto

.product
  justify-content: space-around
  margin: 20px 0

.product__item
  height: 250px

.product__item-image
  width: 100%
  height: 200px
  object-fit: fill

.product__item-description
  background-color: $color
  width: 100%
  display: flex

.product__item-text
  font-size: 18px
  font-family: Arial
  font-weight: bold
  color: #ffffff
  margin: auto 15px

.product__item-icon
  height: 20px
  margin: auto 0
  margin-right: 12px
  margin-left: auto
  cursor: pointer

.single__wrap
  margin-top: 40px
  -webkit-box-flex: 1
  -webkit-flex: 1 0 auto
    -ms-flex: 1 0 auto
      flex: 1 0 auto

.single__image
  width: 100%
  height: 100%

.single__text
  font-size: 16px
  font-style: normal
  color: $fontcolor

.single__text-spacer
  margin-top: 1em
  margin-bottom: 1em

.single__text-price
  color: $pricecolor
  font-size: 32px

.single__text-head
  font-size: 32px
  font-weight: bold

.single__text-author
  color: $color
  font-weight: bold

.content__item_list
  margin-top: -15px
  list-style-type: none

.content__item_list > li
  text-indent: -10px

.content__item_list > li:before
  content: '-'
  text-indent: -10px

@import "media"
