<figure class='col-lg-3 col-sm-6 col-xs-12 product__item' *ngFor="let product of products, let i = index">
  <a routerLink="/detail-page/{{ product.id }}" class="product__item-link">
    <img src="{{ product.photoDetails[0]?.photo}}" alt="product image" class="product__item-image">
    <figcaption class="product__item-description"><p class="product__item-text">{{ product.title }}</p>
      <i class="fa fa-eye fa-lg fa-inverse product__item-icon"></i>
    </figcaption>
  </a>
</figure>
