@import '../../../styles/variable'

.product__item
  height: 250px

.product__item-image
  height: 200px
  object-fit: fill
  overflow-y: hidden

.product__item-description
  background-color: $color
  width: 100%
  display: flex

.product__item-text
  font-size: 18px
  font-family: Arial
  font-weight: bold
  color: #ffffff
  margin: auto 15px
  white-space: nowrap
  overflow: hidden

.product__item-icon
  height: 20px
  margin: auto 12px auto auto
  cursor: pointer

.product__item-link:hover .product__item-icon
  color: $fontcolor

.product__item-link:hover
  text-decoration: none


