@import './../../../../styles/_variable'

.footer
  height: 49px
  background-color: $color
  font-size: 18px
  font-family: Arial
  font-weight: bold
  color: #ffffff
  text-align: center
  padding-top: 12px

