@import './../../../../styles/_variable'

@mixin alignBoth($value1, $value2)
  justify-content: $value1
  align-items: $value2

@mixin transition($transition: 0.3s all ease-out)
  -moz-transition:    $transition
  -webkit-transition: $transition
  transition:         $transition

.button-toTop
  width: 60px
  height: 60px
  background: $fontcolor
  border-radius: 50%
  position: fixed
  bottom: 60px
  cursor: pointer
  font-size: 19px
  z-index: 10
  right: 20px
  color: $color
  display: flex
  @include alignBoth(center, center)
  @include transition()

  i
    position: relative

  &:hover
    color: white
    background: $color

    i
      animation: arrowMove 1s infinite
