<sellit-header></sellit-header>
<section class="container">
  <div class="row">
    <div class="offset-md-2 col-md-4 userprofile">
      <div>
        <label for="user-name">Name:</label>
        <p id="user-name"><b>{{userData.userName}}</b></p>
        <label for="user-email">E-mail:</label>
        <p id="user-email"><b>{{userData.email}}</b></p>
      </div>
      <button class='userprofile__button' (click)="openChangePass()">Change Password</button>
    </div>
    <div class="offset-md-1 col-md-4 userprofile userprofile__image">
      <img *ngIf="userData.photo" src="{{userData.photo}}" alt="photo" class="userprofile__image-image new-image"/>
      <img *ngIf="!userData.photo" src="../../../assets/img/default-avatar.png" alt="photo"
           class="userprofile__image-image"/>

      <input type="file" name="Add Photo" class="userprofile__image-button" (change)="getFiles($event)">
      <button class="userprofile__button" (click)="changePhoto()">Save</button>
    </div>
  </div>
</section>
<sellit-footer></sellit-footer>
