@import '../../../styles/variable'

.userprofile
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  margin-bottom: 20px
  height: 100%

.userprofile__image
  height: 300px
  box-shadow: 4px 4px 4px rgb(102, 102, 102)
  border: 1px solid black
  overflow-x: hidden

.userprofile__image-image
  padding: 5px
  width: 200px
  margin: 0 auto

.userprofile__image-text
  text-align: center
  font-size: 22px
  padding: 5px
  margin: 0

.userprofile__image-button
  margin: 0
  width: 100%

.userprofile__button
  width: 100px
  border-radius: 5%
  height: 50px
  margin: 10px auto 10px
  background-color: $color
  color: white
  cursor: pointer
  border: 2px solid $color
  font-weight: bold

