<sellit-header></sellit-header>
<!--Content start------------------->
<div class="container-fluid wrap wrap__products">
  <sellit-list-item class="row product" [products]='products'></sellit-list-item>
</div>
<div infinityScroll (loadMore)="addItems()">
</div>
<!--Content end------------------->
<to-top-button></to-top-button>
<sellit-footer></sellit-footer>
