<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="editProfileForm"
        class="change-password"
        name="editProfileForm"
        #editProfileForm="ngForm"
        [formGroup]="reactiveProfileForm"
        (submit)="submit($event, editProfileForm)">
    <div class="change-password__block">
      <input type="password" id="inputPassword"
             class="change-password__input"
             name="password"
             formControlName="password"
             placeholder="Input new password">
      <sellit-errors [form]="reactiveProfileForm" [myErrorType]="'password'"></sellit-errors>
    </div>
    <div class="change-password__block">
      <input type="password" id="inputPasswordConfirm"
             class="change-password__input"
             name="password_confirm"
             formControlName="password_confirm"
             placeholder="Input new password again">
      <sellit-errors [form]="reactiveProfileForm" [myErrorType]="'password_confirm'"></sellit-errors>
    </div>
    <div class="change-password__block">
    <input type="password" id="inputPasswordOld"
           class="change-password__input"
           name="password_old"
           formControlName="password_old"
           placeholder="Input old password">
      <sellit-server-errors [serverError]="serverError"></sellit-server-errors>
    </div>
    <button class="change-password__button" type="submit" form="editProfileForm">Save password</button>
  </form>
</div>
