@import '../../../../styles/variable'

.change-password
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center

.change-password__button
  display: block
  width: 100px
  border-radius: 5%
  height: 50px
  margin: 10px auto 10px
  background-color: $color
  color: white
  cursor: pointer
  border: 2px solid $color
  font-weight: bold

.change-password__input
  border: none
  border-bottom: solid 1px $color

.change-password__block
  height: 60px
  margin-bottom: 20px
