<sellit-header></sellit-header>
<!--Content start------------------->
<div class="container single__wrap">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div>
        <sellit-carousel [product]='product'></sellit-carousel>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h1 class="single__text-head">{{product.title}}</h1>
      <p class="single__text single__text-spacer"><b>from</b> <span class="single__text-author">
        {{product.author?.userName}}</span> <span class="single__text-price">{{ product.price }} $</span>
      </p>
      <div [froalaView]="product?.description"></div>
      <div class='user__dropdown' *ngIf="isOwner">
        <a routerLink="/product-edit/{{product.id}}" class="btn btn-info" >Edit product</a>
        <a class="btn btn-danger" (click)="deleteProduct()">Delete product</a>
      </div>
    </div>
  </div>

</div>
<div class="offset-md-2" *ngIf="isLogged">
  <sellit-chat></sellit-chat>
</div>
<!--Content end------------------->
<sellit-footer></sellit-footer>
