@import './../../../../styles/_variable'

.user
  position: relative
  box-sizing: border-box
  height: 60px
  min-width: 300px
  max-width: 380px
  background-color: $color
  display: flex
  flex-direction: row
  margin-left: auto
  &:hover
    border-left: 4px solid $fontcolor

.user__dropdown
  box-sizing: border-box
  position: absolute
  display: flex
  width: calc(100% + 4px)
  min-width: 300px
  max-width: 380px
  background-color: $color
  top: 60px
  right: 0
  height: 40px
  justify-content: space-around
  opacity: 0

.user:hover .user__dropdown
  opacity: 1

.user__avatar
  height: 40px
  margin: 10px 25px 10px 10px
  border-radius: 40px

.user__name
  font-size: 16px
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  color: #eaf6f7
  margin: 20px 0

.user__name-drop
  margin: 0
  font-weight: normal
  border-left: 4px solid $fontcolor
  width: 50%
  text-align: center
  text-decoration: none

.user__logout
  margin: 18px 25px 18px auto
  cursor: pointer
  height: 24px

.user__logout:hover
  color: $fontcolor
