<div class="user" *ngIf="!isLogined" routerLink="/login-page" >
  <img src="./../../../assets/img/def-icon.png" class="user__avatar">
  <p class="user__name">Please, log in</p>
  <i class="fa fa-sign-out fa-2x fa-inverse user__logout"></i>
</div>
<div class="user" *ngIf="isLogined">
  <img src="{{profileUser?.photo}}" class="user__avatar">
  <p class="user__name">{{profileUser?.userName}}</p>
  <i routerLink="/login-page" class="fa fa-sign-out fa-2x fa-inverse user__logout" title="LogOut" (click)="logout()"></i>
  <div class='user__dropdown' >
    <a routerLink="/product-add" class='user__name user__name-drop'>Add product</a>
    <a routerLink="/user-profile" class='user__name user__name-drop'>Profile</a>
  </div>
</div>
