<div class="search">
  <i class="fa fa-search search__icon"></i>
  <input type="search" name="search" class="search__input" placeholder="Try to find something"
         [(ngModel)]="searchInput" (ngModelChange)="startSearch()">
</div>

