@import './../../../../styles/_variable'

.search
  width: 100%
  margin: 0 auto

.search__input
  width: 80%
  margin: 6px auto
  display: block
  border: none
  padding: 10px 0
  border-bottom: solid 1px $color
  transition: all 0.3s cubic-bezier(.64,.09,.08,1)
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%)
  background-position: -200px 0
  background-size: 100% 100%
  background-repeat: no-repeat
  &:focus, &:valid
    box-shadow: none
    outline: none
    background-position: 0 0
    &::-webkit-input-placeholder
    color: $fontcolor
    font-family: Arial, Helvetica, sans-serif
    font-weight: regular
    font-size: 14px
    text-indent: 20px
    transform: translateY(-20px)


.search__icon
  position: relative
  top: 17px
  left: 10%
  cursor: pointer
  height: 15px
  width: 15px

